.has-bg-img {
  // background: url("../img/hero.jpg");
  // background-size: cover;
  // background-position: center bottom;
}

.has-inverted-bg-img {
  background-color: black;
}

.inverted {
  filter: invert(100%);
}

.background-gradient {
  background: linear-gradient(black, transparent) !important;
}
