.has-bg-img {
  // background: url("../img/hero.jpg");
  // background-size: cover;
  // background-position: center bottom;
}

.has-inverted-bg-img {
  background-color: black;
}

.inverted {
  filter: invert(100%);
}

.background-gradient {
  background: linear-gradient(black, transparent) !important;
}

.icon-row {
  a {
    padding: 0.5em 0.3em 0 0em;

    &:hover {
      cursor: pointer;
      //transition: all 0.1s;
      transform: scale(1.1);
    }
  }
}
